@{
    ViewBag.Title = "Not Found";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error:</h4>
    <hr/>
    <h5>@ViewBag.ErrorMessage</h5>
</div>

<a asp-controller="Home" asp-action="Index">Click here to navigate to the Home page</a>