@model PlayOn_24.ViewModels.ProductViewModels.CreateProductViewModel;

@{
    ViewData["Title"] = "Create Product";
}

<div class="container mt-3">
	<h1><br>Create Product<br></h1>

	<form method="post" enctype="multipart/form-data">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="form-floating mt-3 mb-4">
			<input asp-for="Name" class="form-control" />
			<label asp-for="Name"></label>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-floating mt-3 mb-3">
			<input asp-for="Price" class="form-control" />
			<label asp-for="Price"></label>
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div class="my-3">
			<label asp-for="Photo">Poster Photo</label>
			<input asp-for="Photo" class="form-control custom-file-input" />
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
	</form>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}